<div class="detail-product-title">Божественная комедия. | Алигьери Данте</div>
<div class="detail-product-statistics">
  <a class="detail-product-reviews-action">
    <img class="star" src="../img/star.svg" alt="" />
    <span>4.9 &middot; 904 отзыва</span>
  </a>
  <a class="detail-product-question-action">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      class="ga5_3_3-a0 ga5_3_3-a1"
      style="color: rgba(0, 26, 52, 0.4)"
    >
      <path
        fill="currentColor"
        d="M6.333 1.8C1.333 1.8.5 3.05.5 8.05c0 2.5 0 7.083 1.667 7.083.982 0 1.923-.812 2.5-1.666h5c5 0 5.833-.553 5.833-5.417 0-5-.833-6.25-5.833-6.25zm.834 4.167a.833.833 0 0 1-1.667 0c0-.54.133-1.17.558-1.68.446-.535 1.117-.82 1.942-.82s1.496.285 1.942.82c.425.51.558 1.14.558 1.68 0 .824-.451 1.336-.833 1.658-.071.06-.165.118-.263.18-.267.167-.57.358-.57.662a.833.833 0 0 1-1.667 0c0-1.048.729-1.591 1.118-1.881.407-.303.797-.728.377-1.232-.074-.089-.237-.22-.662-.22-.553 0-.833.284-.833.833m1.666 5a.833.833 0 1 1-1.666 0 .833.833 0 0 1 1.666 0"
      ></path>
    </svg>
    <span>17 вопросов</span>
  </a>
</div>
<a href="#" class="detail-product-fragment-btn">Читать фрагмент книги</a>
<div class="detail-modifications">
  <div class="detail-modifications-item">
    <div class="detail-modifications-item-title">Тип обложки</div>
    <div class="product-tipe-choice">
      <a class="product-tipe-choice-item">Мягкая обложка</a>
      <a class="product-tipe-choice-item">Твердый пеереплет</a>
    </div>
  </div>
</div>
<div class="detail-product-charscts">
  <div class="product-about">
    <div class="product-about-title">О книге</div>
    <div class="product-about-desc">
      <div class="product-about-desc-text">
        Сандра Стейпл в своей книге собрала лучшие техники рисования драконов,
        которые будут особенно интересны художникам в жанре фэнтези. В этом
        издании вы найдете всю необходимую информацию: начиная от основ
        рисования и материалов, необходимых для изображения драконов, заканчивая
        формами огнедышащих существ и их характерными деталями. Кроме того, вы
        познакомитесь с уникальными разновидностями особей, которые вы сможете
        отыскать только на страницах книги «Как приручить дракона».
      </div>
    </div>
  </div>
  @@include('detail-offer.html')
</div>
