<div class="detail-product">
  <div class="c-container">
    <div class="detail-top">
      <div class="detail-top-left">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item">
            <a href="/">Главная</a>
          </li>
          <li class="breadcrumbs-item">
            <a href="/catalog.html">Каталог</a>
          </li>
          <li class="breadcrumbs-item">
            <span>Зарубежные книги</span>
          </li>
        </ul>
      </div>
      <div class="detail-top-right">
        <div class="detail-top-right-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            class="ga5_3_1-a0 ga5_3_1-a1"
            style="color: rgba(0, 26, 52, 0.4)"
          >
            <path
              fill="currentColor"
              d="M1.333 6.333c0-4.117.883-5 5-5 4.118 0 5 .883 5 5 0 4.118-.882 5-5 5-4.117 0-5-.882-5-5"
            ></path>
            <path
              fill="currentColor"
              d="M6.333 12.167c-.416 0-.833.416-.833.833 0 1.667 3.249 1.667 4.167 1.667 4.117 0 5-.883 5-5 0-.918 0-4.167-1.667-4.167-.442.035-.833.417-.833.833 0 4.584-1.25 5.834-5.834 5.834"
            ></path>
          </svg>
          <span>Артикул: 12211123002</span>
        </div>
        <div class="detail-top-right-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            class="ga5_3_1-a0 ga5_3_1-a1"
            style="color: rgba(0, 26, 52, 0.4)"
          >
            <path
              fill="currentColor"
              d="M8.833 13.833C8 13.833 8 9.667 8 9.667c-5.833 0-6.25 4.166-6.667 4.166-1.575 0-1.666-9.166 6.667-9.166C8 4.667 8 .5 8.833.5 9.667.5 15.5 5.917 15.5 7.167s-5.833 6.666-6.667 6.666"
            ></path>
          </svg>
          <span>Поделиться</span>
        </div>
      </div>
    </div>

    <div class="detail-product-row">
      <div class="detail-product-colomn">
        <div class="prod-card-img-wrap">
          <section class="product-slider">
            <div class="product-slider__flex">
              <div class="product-slider__col">
                <div class="product-slider__prev swiper-button-prev"></div>
                <div class="product-slider__thumbs">
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="product-slider__image">
                          <img src="../img/frontbook.jpg" alt="" />
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="product-slider__image">
                          <img src="../img/backbook.jpg" alt="" />
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="product-slider__image">
                          <img src="../img/sizebook.jpg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-slider__next swiper-button-next"></div>
              </div>
              <div class="product-slider__images">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a
                        href="../img/frontbook.jpg"
                        data-fancybox=""
                        class="product-slider__image"
                        ><img src="../img/frontbook.jpg" alt=""
                      /></a>
                    </div>
                    <div class="swiper-slide">
                      <a
                        href="../img/backbook.jpg"
                        data-fancybox=""
                        class="product-slider__image"
                        ><img src="../img/backbook.jpg" alt=""
                      /></a>
                    </div>
                    <div class="swiper-slide">
                      <a
                        href="../img/sizebook.jpg"
                        data-fancybox=""
                        class="product-slider__image"
                        ><img src="../img/sizebook.jpg" alt=""
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="detail-product-colomn">@@include('description.html')</div>
    </div>
    <!-- @@include('properties.html') -->
    @@include('rewives.html')
  </div>
</div>
