<div class="product-offer">
  <div class="product-offer-row">
    <div class="product-offer-price">
      <div class="product-offer-newprice">2 269 ₽</div>
      <div class="product-offer-oldprice">3 500 ₽</div>
    </div>
    <div class="product-offer-status">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
      >
        <path
          d="M21.728 4.175a1.1 1.1 0 0 1 .098 1.552l-12.336 14a1.1 1.1 0 0 1-1.65 0L2.174 13.3a1.1 1.1 0 1 1 1.65-1.454l4.84 5.491 11.51-13.063a1.1 1.1 0 0 1 1.553-.098Z"
          clip-rule="evenodd"
          fill="#10c44c"
        ></path>
      </svg>
      <span>В наличии</span>
    </div>
  </div>

  <div class="product-offer-action">
    <a class="main-btn">Добавить в корзину</a>
    <a href="#" class="main-product-later">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M3 4a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v17.5a1 1 0 0 1-1.508.861L12 17.938l-7.492 4.423A1 1 0 0 1 3 21.5V4Zm16 0H5v15.748l6.492-3.832a1 1 0 0 1 1.016 0L19 19.748V4Z"
        ></path>
      </svg>
    </a>
  </div>
</div>
