<div class="product-properties">
  <span>Характеристики</span>
  <div class="properties-wrap">
    <div class="properties-left">
      <ul class="product-properties">
        <li class="product-properties-item">
          <div class="product-properties-item-title">Артикул</div>
          <div class="product-properties-item-content">1683649304</div>
        </li>
        <li class="product-properties-item">
          <div class="product-properties-item-title">Издательство</div>
          <div class="product-properties-item-content">
            Фантастика Книжный Клуб
          </div>
        </li>
        <li class="product-properties-item">
          <div class="product-properties-item-title">Серия</div>
          <div class="product-properties-item-content">
            The Horus Heresy, The Horus Heresy / Ересь Хоруса
          </div>
        </li>
        <li class="product-properties-item">
          <div class="product-properties-item-title">Тип бумаги в книге</div>
          <div class="product-properties-item-content">Офсетная</div>
        </li>
        <li class="product-properties-item">
          <div class="product-properties-item-title">Тип обложки</div>
          <div class="product-properties-item-content">Твердый переплет</div>
        </li>
      </ul>
    </div>
    <div class="properties-right">
      <ul class="product-properties">
        <li class="product-properties-item">
          <div class="product-properties-item-title">Тип книги</div>
          <div class="product-properties-item-content">Печатная книга</div>
        </li>
        <li class="product-properties-item">
          <div class="product-properties-item-title">Язык издания</div>
          <div class="product-properties-item-content">Русский</div>
        </li>
        <li class="product-properties-item">
          <div class="product-properties-item-title">Количество страниц</div>
          <div class="product-properties-item-content">824</div>
        </li>
        <li class="product-properties-item">
          <div class="product-properties-item-title">Вес товара,г</div>
          <div class="product-properties-item-content">1500</div>
        </li>
        <li class="product-properties-item">
          <div class="product-properties-item-title">ISBN</div>
          <div class="product-properties-item-content">978-5-91878-419-8</div>
        </li>
      </ul>
    </div>
  </div>
</div>
