<div class="product-rewives">
  <div class="product-rewives-title">
    <div class="product-rewives-title-rew">
      <div class="product-rewives-title-rew-text">Отзывы о товаре</div>
      <span>163</span>
    </div>
  </div>

  <div class="product-rewives-filter">
    <div class="product-rewives-filter-current">
      <span>Сначала новые</span>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="#00000"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.19526 10.2103C8.32544 10.0708 8.49605 10.0011 8.66667 10.0011C10.89 10.0011 13.11 10.0011 15.3333 10.0011C15.5039 10.0011 15.6746 10.0708 15.8047 10.2103C16.0651 10.4893 16.0651 10.9415 15.8047 11.2205L12.4714 14.7919C12.3464 14.9258 12.1768 15.0011 12 15.0011C11.8232 15.0011 11.6536 14.9258 11.5286 14.7919L8.19526 11.2205C7.93491 10.9415 7.93491 10.4893 8.19526 10.2103Z"
        ></path>
      </svg>
    </div>
    <div class="product-rewives-filter-menu-wrap">
      <div class="product-rewives-filter-menu">
        <div class="product-rewives-filter-menu-item">Сначала новые</div>
        <div class="product-rewives-filter-menu-item">Сначала старые</div>
        <div class="product-rewives-filter-menu-item">С низкой оценкой</div>
        <div class="product-rewives-filter-menu-item">С высокой оценкой</div>
      </div>
    </div>
  </div>
  @@include('rewives-detail.html')
</div>
