<div class="rewives-detail">
  <div class="rewives-detail-content">
    <div class="rewives-detail-row">
      <div class="rewives-detail-title-name">Елена Б.</div>
      <div class="rewives-detail-title-info">
        <div class="rewives-detail-title-date">17 августа 2025</div>
        <div class="rewives-detail-title-stars">
          @@for (var i = 0; i < 5; i++) {
          <img class="star" src="../img/star.svg" alt="" />
          }
        </div>
      </div>
    </div>
    <div class="rewives-detail-text">
      Отличный кардиган, очень нежная ткань, брала дочери в школу,
      одноклассницам понравился дочь довольна
    </div>
  </div>
</div>
