.detail {

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        &-right {
            display: flex;
            gap: 16px;
            align-items: center;

            &-item {
                display: flex;
                gap: 5px;
                align-items: center;



                span {
                    color: #838383;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;

                    &:hover {
                        color: #0b7eb3;
                    }
                }

                svg {
                    width: 16;
                    height: 16;
                }

            }
        }
    }

    &-product {

        &-row {
            display: flex;
            justify-content: space-between;
            gap: 32px;
        }

        &-colomn {
            width: calc(100% - 32px);
        }

        // &-slider {
        //     display: flex;
        //     justify-content: center;
        //     width: 300px;
        //     max-width: 300px;
        // }
    }
}

.product {

    &-media {

        display: flex;
        justify-content: center;

        &-preview {
            display: flex;
            justify-content: center;
            overflow: hidden;
            border-radius: 20px;

            img {
                cursor: pointer;
                width: 100%;
            }

        }
    }
}