.footer {
    background: #ecf4fe;
    padding: 52px 0px;

    @media (max-width: 991px) {
        padding: 25px 0px;
        }

    &-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;
        width: 100% ;

    }

    &-menu-title,
    &-phone {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 450;
        line-height: 26px;
        margin-bottom: 16px;

        @media (max-width: 991px) {
            margin-bottom: 14px;
            font-size: 18px;
        }

    }

    @media (max-width: 600px) {
        &-menu-title::after {
            content: "";
            display: block;
            width: 30px;
            min-width: 30px;
            height: 30px;
            background-image: url(../img/footer-arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }


    &-item {
        display: flex;
        flex-direction: column;

        @media (max-width: 991px) {
            width: calc(50% - 2*16px);
        }

        @media (max-width: 600px) {
            width: 100%;
            border-bottom: 1px solid #d9dbdf;

            &:first-child {
                border: none;
            }
        }

    }

    &-qrcode {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 4px;
        flex-direction: column;
        gap: 12px;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        padding: 16px;


        @media (max-width: 1200px) {
            width: 100%;
            gap: 28px;
            margin-bottom: -15px;
            flex-direction: row;
        }

        @media (max-width: 425px) {
            padding: 8px;
        }

        &-img {
            width: 108px;
            max-width: 108px;

            @media (max-width: 550px) {
                display: none;
            }
        }

        &-content {
            display: flex;
            gap: 12px;
            flex-direction: column;
            max-width: 220px;

        }

        &-desc {

            color: #807474;

            &-one {
                @media (max-width: 550px) {
                    display: none;
                }
            }

            &-two {
                display: none;

                @media (max-width: 550px) {
                    display: block;
                }
            }

        }

        &-links {
            display: flex;
            gap: 10px;
            justify-content: center;

            @media (max-width: 550px) {
                svg {
                    width: 30px;
                    max-width: 30px;
                }
            }
        }
    }

    &-menu {
        display: flex;
        flex-direction: column;
        gap: 16px;


        li {
            list-style: none;

            a {

                font-weight: 400;
                line-height: 20px;
                color: #807474;

                @media (max-width: 991px) {
                    font-size: 12px;
                }


            }
        }

        @media (max-width: 991px) {
            gap: 6px;
        }
    }

}

.support {
    font-size: 14px;
    margin-bottom: 16px;
    margin-bottom: 16px;
    width: fit-content;
    padding: 10px
}

@media (max-width: 600px) {
    .footer-menu-title+* {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
    }
}