<section class="main-banners-wrap">
  <div class="c-container">
    <div class="main-banners swiper js-main-banners">
      <div class="swiper-wrapper">
        <a href="#" class="main-banners-item swiper-slide">
          <img src="/img/banners1.jpg" alt="" />
        </a>
        <a href="#" class="main-banners-item swiper-slide">
          <img src="/img/banners2.jpg" alt="" />
        </a>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
