.main-banners {
    &-wrap{
        margin-bottom: 50px;
    }
    &-item {
        width: calc(50% - 10px);
        img {
            display: block;
            width: 100%;
            border-radius: 10px;
        }
    }

    @media (max-width: 768px) {
        overflow: visible;
        &-wrap{
            overflow: hidden;
        }
    }
}