.main-product{


    &-item{
    
        &-img{
            position: relative;
            box-shadow: -6px 0px 16px 1px rgb(89 89 89 / 4%), -3px 8px 16px 1px rgb(183 183 183 / 17%);;
            border-radius: 4px;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
            }
        }

        &-name{
            font-weight: 400;
            line-height: 20px;

            @media (max-width: 425px){
                font-size: 14px;
            }

            @media (max-width: 330px){
                font-size: 12px;
            }
        }

        &-author{
            font-size: 14px;
            color: #363636;

            @media (max-width: 425px){
                font-size: 12px;
            }
            @media (max-width: 330px){
                font-size: 10px;
            }
        }

        &-price{
            color: #fa1157;;
            font-size: 18px;
            font-weight: 450;
            width: 100%;

            @media (max-width: 425px){
                font-size: 14px;
            }
    }
        &-oldprice{
            margin-top: 5px;
            color: #363636;
            text-decoration: line-through #fa1157;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;

            @media (max-width: 425px){
                font-size: 10px;
            }
    }

    &-sale{
        display: flex;
        gap: 10px;
        width: 100%;

    }

    &-discount{
        font-size: 13px;
        height: 19px;  
        min-width: 19px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 12px;
        font-weight: 450;
        line-height: 20px;
        background-color: #fa1157;
        color: #fff;

        @media (max-width: 500px){
            font-size: 12px;
        }
        @media (max-width: 425px){
            font-size: 10px;
        }
    }

    }

    &-later{
    min-width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;


    svg {
       width: 20px;
    }
}

    
}

.main-products-item-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

