<header class="header">
  <!-- <div class="c-container">
    <div class="header-wrap">
      <div class="header-left">
        <button class="header-menu-btn">
          <span>Каталог</span>
        </button> -->
  <form action="" class="header-search">
    <div class="main-search">
      <button class="header-search-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          class="search-form__icon-search"
        >
          <path
            d="M3 9.999a7 7 0 0 0 10.33 6.158l4.256 4.256a2 2 0 1 0 2.828-2.828l-4.255-4.256A7 7 0 1 0 3 9.999Zm12 0a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"
          ></path>
        </svg>
      </button>
      <input type="search" class="header-search-inp" placeholder="Найти..." />
    </div>
  </form>
  <!-- </div>
      <div class="header-center">
        <a href="\">book<span>store</span></a>
      </div>
      <div class="header-right">
        <a href="#" class="header-right-account"
          ><img src="/src/img/account.jpg" alt="Профиль пользователя"
        /></a>
      </div>
    </div>
  </div> -->
</header>

<div class="main-menu-wrap">
  <ul class="main-menu">
    <li class="parent">
      <div><a href="#"></a></div>
      <ul>
        <li>
          <div><a href="#"></a></div>
        </li>
      </ul>
    </li>
    <li class="active">
      <div><a href="#"></a></div>
    </li>
    <li>
      <div><a href="#"></a></div>
    </li>
  </ul>
</div>
