.header{

    &-wrap{  
        display: flex;
        justify-content: space-between;
    }

    &-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &-menu-btn{
        padding: 6px 15px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        border: none;
        background-color: #fff;
        color: rgb(128, 116, 116);
    }

    &-search{
        width: max-content;
        display: flex;
        align-items: center;
        padding: 14px;
        border-radius: 28px;
        background: #f6f6f6;
        justify-content: center;

        &-btn{

            svg{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
        }

        &-inp{
            font-size: 16px;
            color: #333;
            margin-left: 14px;
            border: none;
            background: transparent;
    }
}
    
    
    
    &-center{
        
        display: flex;
        font-size: 16px;
        align-items: center;
        span{
            font-weight: bold;
        }
    }

    &-right-account{
        display: flex;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.main-search{
    align-items: center;
    display: flex;
    justify-content: center;
}
