<div class="header-top-wrap">
  <div class="c-container">
    <div class="header-top">
      <div class="header-top-location">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          class="header-location__icon"
        >
          <path
            d="M13.721 3.243a1.75 1.75 0 0 0-2.251-.974L3.239 5.494a1.71 1.71 0 0 0-1.016 1.105 1.752 1.752 0 0 0 1.155 2.164l2.934.926.927 2.934c.157.498.528.9 1.011 1.098a1.72 1.72 0 0 0 2.258-.959l3.224-8.23a1.735 1.735 0 0 0-.01-1.289Zm-1.631.61a.04.04 0 0 1 .028.002.055.055 0 0 1 .03.031.036.036 0 0 1 .001.026l-3.224 8.23s-.003.005-.007.007a.02.02 0 0 1-.008.002c-.004 0-.01 0-.017-.004a.059.059 0 0 1-.033-.036L7.8 8.756a.85.85 0 0 0-.554-.555L3.89 7.141a.055.055 0 0 1-.033-.027.043.043 0 0 1-.005-.03c0-.002.003-.005.003-.005l.004-.002 8.231-3.225Z"
          ></path>
        </svg>
        <span>Москва</span>
      </div>
      <ul class="header-nav">
        <li class="header-nav-item">
          <a href="#" class="header-nav-item-text">Магазины</a>
        </li>
        <li class="header-nav-item">
          <a href="#" class="header-nav-item-text">Доставка и оплата</a>
        </li>
        <li class="header-nav-item">
          <a href="#" class="header-nav-item-text">Программа лояльности</a>
        </li>
        <li class="header-nav-item">
          <a href="#" class="header-nav-item-text">Партнёрская программа</a>
        </li>
      </ul>

      <div class="header-top-feedback">
        <a href="#">Вакансии</a>
        <a href="#">Вакансии</a>
        <a href="#">Вакансии</a>
      </div>
    </div>
  </div>
</div>
