<div class="main-banner">
  <div class="c-container">
    <div class="main-banner-row">
      <div class="main-banner-content">
        <div class="main-banner-content-title">The journey of dreams</div>
        <div class="main-banner-content-desc">
          Every struggle is a success, and every success has its roots in a
          dream. A young boy from a small village with stars in his eyes
          promised his parents that he would make them proud. Will he succeed or
          succumb to destiny?
        </div>
        <button class="main-banner-content-btn">Подробнее...</button>
      </div>
      <div class="main-banner-img">
        <div class="circle"></div>
        <!-- <img src="/img/book.svg" alt="" /> -->
      </div>
    </div>
  </div>
</div>
