.main-categories{
    margin: 40px 0;

    &-list{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
        box-shadow: 3px 5px 46px rgba(42, 56, 70, .12);
        border-radius: 10px;
        background-color: #fff;
        transition-duration: .3s;
        width: calc(100% / 6 - (50px / 6));

        &-img img{
            display: block;
            max-width: 100px;
        }

        &-title{
            margin-top: 10px;
            font-size: 18px;
            transition-duration: .1s;
        }

        &:hover{
            box-shadow: 3px 5px 46px #412e8be1;
        }

        @media (max-width: 1024px) {
            width: calc(100% / 4 - (30px / 4));            
        }

        
        @media (max-width: 991px) {
            width: calc(100% / 3 - (30px / 3));            
        }
        
        @media (max-width: 500px) {
            width: calc(100% / 2 - (30px / 2));            
        }
    }

}