<div class="main-text-block-wrap">
    <div class="c-container">
        <h2 class="s-small-title">Надежный поставщик упаковочных материалов</h2>
        <div class="main-text-block">
            <p>Наш ассортимент разнообразен: наборы для переездов квартир, офисов любой сложности, картонные и пищевые коробки, короба с крышками, хозяйственные сумки, укрывная пленка с малярной лентой.<br>
                Реализуем производство упаковки под заказ по вашим индивидуальным размерам с нанесением логотипа вашей компании.</p>
                <p>Наш ассортимент разнообразен: наборы для переездов квартир, офисов любой сложности, картонные и пищевые коробки, короба с крышками, хозяйственные сумки, укрывная пленка с малярной лентой.<br>
                    Реализуем производство упаковки под заказ по вашим индивидуальным размерам с нанесением логотипа вашей компании.</p>
        </div>
    </div>
</div>