.main-text-block {
    color: rgba(72, 73, 76, .8);
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;

    &-wrap {
        margin-bottom: 50px;
    }

    p {
        margin-bottom: 15px;
        line-height: 1.5;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (max-width: 768px) {
        font-size: 14px;
    }
}