<div class="main-products-item swiper-slide">
  <div class="main-products-item-slider js-main-preview-slider swiper">
    <div class="swiper-wrapper">
      <div class="main-products-item-img swiper-slide">
        <img src="/img/product.jpg" alt="Ghbkhlk" />
      </div>
      <div class="main-products-item-img swiper-slide">
        <img src="/img/product.jpg" alt="Ghbkhlk" />
      </div>
      <div class="main-products-item-img swiper-slide">
        <img src="/img/product.jpg" alt="Ghbkhlk" />
      </div>
      <div class="main-products-item-img swiper-slide">
        <img src="/img/product.jpg" alt="Ghbkhlk" />
      </div>
      <div class="main-products-item-img swiper-slide">
        <img src="/img/product.jpg" alt="Ghbkhlk" />
      </div>
    </div>
    <div class="main-products-item-slider-btn-prev">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="27"
        viewBox="0 0 32 54"
      >
        <g>
          <g>
            <path
              fill="#9fa0a4"
              d="M6.579 25.536L31.33 2.078 29.145.004l-28.479 27 28.48 26.998 2.185-2.073L6.58 28.469l-1.554-1.465z"
            />
          </g>
        </g>
      </svg>
    </div>
    <div class="main-products-item-slider-btn-next">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="27"
        viewBox="0 0 32 54"
      >
        <g>
          <g>
            <path
              fill="#9fa0a4"
              d="M6.579 25.536L31.33 2.078 29.145.004l-28.479 27 28.48 26.998 2.185-2.073L6.58 28.469l-1.554-1.465z"
            />
          </g>
        </g>
      </svg>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="main-products-item-bottom">
    <div class="main-products-item-status">
      В наличии <span>Арт.9799-1</span>
    </div>
    <a href="#" class="main-products-item-name">@@name</a>
    <div class="main-products-item-price">1820 <span>&#x20bd;/шт</span></div>
    <div class="main-products-item-action">
      <div class="main-counter">
        <button class="main-counter-btn main-counter-btn-minus">-</button>
        <input type="text" class="main-counter-inp" value="1" />
        <button class="main-counter-btn main-counter-btn-plus">+</button>
      </div>
      <a href="#" class="main-product-buy @@isAdd">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20.5"
          height="17"
          viewBox="0 0 41 34"
        >
          <g>
            <g>
              <path
                fill="#fff"
                d="M40.312 7.116c0 .222-.042.442-.125.648l-4.924 12.23a1.736 1.736 0 0 1-1.44 1.08l-17.474 1.737a1.737 1.737 0 0 1-1.8-1.12L9.336 7.724a1.832 1.832 0 0 1-.042-.13L7.83 3.642H.539V.168h9.71l1.931 5.211h26.394c.96 0 1.738.778 1.738 1.737zm-4.311 1.737H13.467l3.87 10.37 15.095-1.501zM16.177 29.7a3.474 3.474 0 0 1-3.475 3.474 3.474 3.474 0 1 1 0-6.948 3.475 3.475 0 0 1 3.475 3.474zm17.376 0a3.474 3.474 0 0 1-3.475 3.474 3.474 3.474 0 1 1 0-6.948 3.475 3.475 0 0 1 3.475 3.474z"
              />
            </g>
          </g>
        </svg>
      </a>
      <a href="#" class="main-product-like">
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10.4419 16.5533L16.7726 10.2227C18.3281 8.66717 18.5576 6.10814 17.0855 4.47343C16.7168 4.06277 16.2683 3.73155 15.7673 3.49997C15.2664 3.26839 14.7235 3.1413 14.1718 3.12647C13.6201 3.11163 13.0712 3.20936 12.5585 3.41368C12.0458 3.618 11.5801 3.92464 11.1899 4.31488L10 5.50476L8.97266 4.47742C7.41717 2.92192 4.85814 2.69243 3.22343 4.16446C2.81277 4.53318 2.48155 4.9817 2.24997 5.48266C2.01839 5.98362 1.8913 6.52651 1.87647 7.0782C1.86163 7.6299 1.95936 8.17883 2.16368 8.69151C2.368 9.20419 2.67464 9.66987 3.06488 10.0601L9.55806 16.5533C9.67527 16.6705 9.83424 16.7364 10 16.7364C10.1658 16.7364 10.3247 16.6705 10.4419 16.5533V16.5533Z"
            stroke="#AEADB6"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
