.compilations{

    &-wrap{
        width: 100%;
        margin-bottom: 80px;
    }


    &-list-slider{
        display: flex;
        gap: 15px;

    }

    &-item{
        border: 1px solid #efefef;
        border-radius: 24px;
        width: calc(100% - 30px);
        box-shadow: 3px -1px 20px 1px rgb(183 183 183 / 17%);
        &-img{
            img{
                border-radius: 24px;
            }
        }

        &-content{
            padding: 24px 32px;
        }

        &-title{
            font-size: 20px;
            font-weight: bold;
        }

        &-count{
            margin-top: 40px;
            color: #807474;
        }
    }
}