.reviews-slider {
    padding: 10px 0;
    overflow: visible;
    &-wrap {
        margin-bottom: $margAfterBlock;
        overflow: hidden;

        @media (max-width: 1024px){
            margin-bottom: $MgAfterBlockSmall;
        }
    }

    &-title {
        margin-bottom: 25px;
    }
     
    @media (max-width: 768px) {
        padding: 10px 0;
    }
}

.review-item {
    padding: 10px;
    width: calc(25% - 10px);
    height: auto;
    background: #fff;
    box-shadow: 0px 0px 8px #00000012;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px
    }

    &-title {
        font-size: 15px;
        font-weight: 600;
        line-height: 21px
    }

    &-stars {
        display: flex;

        svg {
            width: 16px
        }
    }

    &-date {
        color: #000;
        font-size: 13px;
        line-height: 19px;
        opacity: .5;
        text-align: right
    }

    &-desc {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 20px
    }

    &-prod {
        display: flex;
        align-items: center;
        background: #f7f7f7;
        padding: 7px;
        border-radius: 4px;
        margin-top: 16px;
        transition: all .4s;

        &:hover {
            background: #ff754bcc;
            color: #fff !important
        }

        &-title {
            font-size: 14px;
            font-weight: 500
        }

        &-img {
            border-radius: 4px;
            overflow: hidden;
            margin-right: 10px;
            min-width: 60px;

            img {
                display: block;
                min-width: 60px
            }
        }
    }
}